:root{
  color: white;
  background-color: #000066;
  background-image: url("/images/auth_background.png");
  background-size: cover;
  padding-left: 20%;
}

.footer {
  margin-top: 50px;
}
.signout {
  position: absolute;
  top: -5;
}
.btn-primary {
  background-color: #6DB657;
  border-color: ##6DB657;
  border-radius: 8px;
  font-size: 20px;
  color: #000066;
}
.btn-primary:hover {
  background-color: #900;
  border-color: #b00;
}
.btn-primary:disabled {
  background-color: #6DB657;
  border-color: #6DB657;
}
a.jumbo {
  /* text-decoration: none; */
  color: white;
}
a.jumbo:hover {
  /* text-decoration: none; */
  color: #ffffff;
}
.navbar {
  justify-content: start;
}
.nav-link {
  color: #b00;
}
.panel {
  max-width: 480px;
  margin: auto;
}
.validation-summary-errors ul {
  list-style: none;
  padding-left: 0;
}
hr.spaced {
  margin: 48px 0;
}
.form-gropup {
  width: 15%;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  background-color: #a3a3c2;
.display-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.lead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.login-header-row {
  display: flex;
}
.login {
  margin: 0px;
}
.login_lock {
  -webkit-mask-image: url(/images/lock.svg);
  mask-image: url(/images/lock.svg);
  mask: url(/images/lock.svg);
  mask-mode: match-source;
  mask-repeat: no-repeat;
  mask-clip: border-box;
  mask-origin: border-box;
  mask-composite: add;
  mask-position-x: 0%;
  mask-position-y: 0%;
  mask-size: auto;
  mask-image: url("/images/lock.svg");
  background: #6DB657;
  margin-right: 1em;
}
